#tools-page {
  background: #101820FF;
}

#tools-page .tools {
  color: #fff;
  padding: 5em 0.5em;
}

#tools-page .page-heading {
  text-align: center;
  padding: 1em 0;
  background: #19232d;
}

#tools-page .page-heading h3 {
  color: #fff;
  font-weight: 400;
}

#tools-page .section-heading {
  text-align: center;
  margin-bottom: 4rem;
  color: #27debf;
}

#tools-page .search-filters {
  margin-bottom: 25px;
}

#tools-page .search-filters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#tools-page .search-filters ul li .overall-search-filter .search-box {
  -webkit-transition: width 0.6s, background 0.6s;
  transition: width 0.6s, background 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

#tools-page .search-filters ul li .overall-search-filter .search-box + label .search-icon {
  color: black;
}

#tools-page .search-filters ul li .overall-search-filter .search-box:hover {
  color: white;
  background: #98a3ad;
}

#tools-page .search-filters ul li .overall-search-filter .search-box:hover + label .search-icon {
  color: white;
}

#tools-page .search-filters ul li .overall-search-filter .search-box:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: white;
  color: black;
}

#tools-page .search-filters ul li .overall-search-filter .search-box:focus + label .search-icon {
  color: black;
}

#tools-page .search-filters ul li .overall-search-filter .search-box:not(:focus) {
  text-indent: -5000px;
}

#tools-page .search-filters ul li .overall-search-filter .search-icon {
  position: relative;
  left: -35px;
  color: white;
  cursor: pointer;
}

#tools-page .search-filters ul li .overall-search-filter .search-icon img {
  z-index: -1;
}

#tools-page .search-filters ul li .overall-search-filter .expand {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding-left: 15px !important;
  width: 300px !important;
  background: white !important;
  color: black !important;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el {
  min-width: 12em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  max-height: 2em;
  overflow: hidden;
  top: .5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: #cde4f5;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el input:focus + label {
  background: #def;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s color ease-in-out;
  transition: 0.3s color ease-in-out;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: .06em solid #d9d9d9;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 100%;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el.expanded label:hover {
  color: #3694d7;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el.expanded input:checked + label {
  color: #3694d7;
}

#tools-page .search-filters ul li .overall-dropdown-filter .dropdown-el.expanded::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: .55em;
}

#tools-page .search-filters ul .add-tool-button {
  background: #19232d;
  border: none;
  margin-right: 25px;
  padding: 5px 20px;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0 0px 2px 0 #ffffff;
          box-shadow: 0 0px 2px 0 #ffffff;
}

#tools-page .card-columns {
  -webkit-column-count: 3;
          column-count: 3;
}

#tools-page .card-columns .card {
  background: #19232d;
  padding: 15px 10px;
  border-radius: 5px;
}

#tools-page .card-columns .card:nth-child(odd) {
  background: #072d40;
}

#tools-page .card-columns .card .each .main-title {
  font-size: 1.3rem;
  color: #C0C9D1;
}

#tools-page .card-columns .card .each .main-title span {
  padding-right: 5px;
}

#tools-page .card-columns .card .each .list-items {
  margin-top: 10px;
}

#tools-page .card-columns .card .each .list-items ul {
  padding-left: 10px;
}

#tools-page .card-columns .card .each .list-items ul li:not(:last-child) {
  margin-bottom: 10px;
}

#tools-page .card-columns .card .each .list-items ul li p {
  font-size: 1.1rem;
  color: #C0C9D1;
}

#tools-page .card-columns .card .each .list-items ul li p span {
  padding-right: 5px;
}

#tools-page .card-columns .card .each .list-items ul li p a {
  color: #FEE715FF;
  padding-left: 10px;
  display: block;
}

@media (min-width: 0px) and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  #tools-page .tools {
    padding: 30px 0px;
  }
  #tools-page .card-columns {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 15px;
  }
  #tools-page .tools {
    padding: 30px;
  }
  #tools-page .card-columns {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

.github-tools h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #C0C9D1;
}

.github-tools table thead tr th {
  padding: 0;
}

.github-tools table tbody tr td {
  padding-bottom: 15px;
}

.github-tools table tbody a {
  color: #FEE715FF;
  padding-right: 5px;
}

#portfolio {
  padding: 5em 0;
}

#portfolio .section-heading {
  margin-bottom: 45px;
}

#portfolio .section-heading h3 {
  color: #FEE715FF;
  font-size: 2rem;
  font-weight: 600;
  line-height: 45px;
}

#portfolio .filters {
  margin-bottom: 75px;
}

#portfolio .filters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio .filters ul .active {
  color: #FEE715FF;
  font-weight: 600;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#portfolio .filters ul li {
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#portfolio .filters ul li:not(:last-child) {
  margin-right: 25px;
}

#portfolio .filters ul li:hover {
  cursor: pointer;
}

#portfolio .filters-content .single_portfolio {
  position: relative;
  margin-bottom: 4rem;
}

#portfolio .filters-content .single_portfolio:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#101820FF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, #101820FF, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

#portfolio .filters-content .single_portfolio img {
  border-radius: 5px 5px 0 0;
}

#portfolio .filters-content .single_portfolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  z-index: 5;
}

#portfolio .filters-content .single_portfolio .overlay .overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

#portfolio .filters-content .single_portfolio .overlay .content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#portfolio .filters-content .single_portfolio .overlay .content a {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
}

#portfolio .filters-content .single_portfolio .overlay .content .webiste-link {
  margin-top: 10px !important;
  display: block;
  color: #FEE715FF;
  border-bottom: 2px solid #FEE715FF;
  display: inline-block;
}

#portfolio .filters-content .single_portfolio .overlay:hover {
  background: rgba(16, 24, 32, 0.7);
  cursor: pointer;
}

#portfolio .filters-content .single_portfolio .overlay:hover .content a {
  opacity: 1;
}

#web-tools-page {
  background: #f3f9f3;
}

#web-tools-page .overall-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
}

#web-tools-page .overall-block .left-block .side-menu {
  height: 100vh;
  background: #2262c6;
  overflow: hidden;
}

#web-tools-page .overall-block .left-block .side-menu ul {
  padding-left: 15px;
  height: 100vh;
  overflow-y: scroll;
}

#web-tools-page .overall-block .left-block .side-menu ul li a {
  color: #fff;
  padding: 10px 0;
  display: block;
}

#web-tools-page .overall-block .left-block .side-menu ul li a span {
  padding-right: 5px;
}

#web-tools-page .overall-block .right-block .top-navbar {
  padding: 0 1.5em;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
          box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
}

#web-tools-page .overall-block .right-block .top-navbar .page-title {
  font-size: 1.5rem;
  color: #2262c6;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#web-tools-page .overall-block .right-block .top-navbar .page-title span img {
  width: 40px;
  margin-right: 10px;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter {
  max-width: 220px;
  border-radius: 100px;
  background: rgba(34, 98, 198, 0.08);
  height: 40px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2px 0px #d9d9d9;
          box-shadow: 0 0 2px 0px #d9d9d9;
  float: right;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter svg {
  width: 18px;
  margin-right: 5px;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter svg path {
  fill: #615959;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter input {
  border: none;
  background: transparent;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  color: #19232d;
  font-size: 15px;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter input::-webkit-input-placeholder {
  color: #333;
  opacity: 0.7;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter input:-ms-input-placeholder {
  color: #333;
  opacity: 0.7;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter input::-ms-input-placeholder {
  color: #333;
  opacity: 0.7;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter input::placeholder {
  color: #333;
  opacity: 0.7;
}

#web-tools-page .overall-block .right-block .top-navbar .search-filter input:focus {
  border: none;
  outline: none;
}

#web-tools-page .overall-block .right-block .main-block {
  margin-top: 75px;
  height: calc(100vh - 75px);
  overflow-y: scroll;
  padding: 40px;
}

#web-tools-page .overall-block .right-block .main-block .each {
  margin-bottom: 35px;
  -webkit-box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
          box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
}

#web-tools-page .overall-block .right-block .main-block .each .block-name {
  font-size: 1.1em;
  margin-bottom: 15px;
  background: #f3f9f3;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #2262c6;
  margin-bottom: 25px !important;
}

#web-tools-page .overall-block .right-block .main-block .each .block-name span {
  padding-right: 3px;
}

#web-tools-page .overall-block .right-block .main-block .each ul {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

#web-tools-page .overall-block .right-block .main-block .each ul li {
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}

#hero-slider-wrapper {
  min-height: 100vh;
  background: #101820FF;
  color: #ffffff;
  position: relative;
}

#hero-slider-wrapper .slider-content {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
}

#hero-slider-wrapper .slider-content .left-block h1 {
  color: #ffffff;
  line-height: 55px;
  margin-bottom: 15px;
  font-size: 4.375rem;
  font-weight: 700;
  letter-spacing: 1px;
}

#hero-slider-wrapper .slider-content .left-block h2 {
  font-size: 1.3em;
  color: #FEE715FF;
}

#hero-slider-wrapper .slider-content .left-block a {
  display: inline-block;
  margin-top: 45px;
  position: relative;
  padding: 15px 45px;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#hero-slider-wrapper .slider-content .left-block a:before {
  background: #27debf;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 40px;
  height: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: -1;
}

#hero-slider-wrapper .slider-content .left-block a:hover {
  color: #101820FF;
}

#hero-slider-wrapper .slider-content .left-block a:hover:before {
  width: 100%;
}

#hero-slider-wrapper .slider-content .right-block .image {
  max-width: 450px;
  position: relative;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#hero-slider-wrapper .slider-content .right-block .image::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -15px;
  bottom: 50px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  right: 50px;
  z-index: -1;
  border-radius: 10px 0 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#hero-slider-wrapper .slider-content .right-block .image:after {
  content: "";
  background: transparent url(/img/shapes/pattern.svg) repeat 0 0;
  position: absolute;
  z-index: 2;
  bottom: -30px;
  height: 255px;
  right: -30px;
  width: 100px;
  z-index: -1;
}

#hero-slider-wrapper .slider-content .right-block .image img {
  border-radius: 10px;
}

#main-navbar {
  padding: 10px 4em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#main-navbar .navbar-brand {
  color: #FEE715FF;
  font-weight: 700;
  font-size: 2.5em;
  padding: 0;
  line-height: initial;
  text-transform: uppercase;
}

#main-navbar .navbar-nav li:not(:last-child) {
  margin-right: 35px;
}

#main-navbar .navbar-nav li a {
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #27debf;
}

#about {
  padding: 4em 0;
  color: #ffffff;
}

#about h3 {
  margin-bottom: 25px;
  color: #FEE715FF;
  line-height: 40px;
  font-weight: 600;
}

#about p {
  font-size: 1.1rem;
  line-height: 28px;
}

#about a {
  display: inline-block;
  margin-top: 25px;
  position: relative;
  padding: 10px 35px;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#about a:before {
  background: #FEE715FF;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 30px;
  height: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: -1;
}

#about a:hover {
  color: #101820FF;
}

#about a:hover:before {
  width: 100%;
}
/*# sourceMappingURL=components.css.map */