@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  background: rgb(204, 204, 204);
  font-family: 'Roboto',
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',
    sans-serif;
}

a {
  font-family: 'Roboto',
    sans-serif;
}

ul {
  list-style: none;
}

page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  position: relative;
}

@media print {

  body,
  page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}

.header {
  height: 100px;
  width: 100%;
  display: block;
  position: relative;
  background: #A39165;

  &.second-page {
    height: 30px;
  }
}

.footer {
  height: 30px;
  width: 100%;
  display: block;
  position: relative;
  background: #A39165;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 21cm;
  margin: 0 auto;
}


//

.body {
  height: 100%;
  display: flex;



  .primary-details {
    min-height: 150px;
    background: #fff;
    margin-top: -75px;
    position: relative;
  }

  .primary-right {
    width: calc(100% - 230px);

    .primary-details {
      width: calc(100% - 70px);
      padding: 20px;

      .name {
        font-size: 24px;
        color: #3E4A5A;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;

        span {
          font-weight: 500;
        }

        img {
          width: 18px;
        }
      }

      .designation {
        text-transform: uppercase;
        color: #3E4A5A;
        font-size: 14px;
        margin-top: 5px;
        letter-spacing: 0px;
      }

      .site {
        color: #3E4A5A;
        margin-top: 8px;
        display: block;
        font-size: 15px;
      }

      .about {
        border-top: 1px solid #e5effc;
        border-bottom: 1px solid #e5effc;
        padding: 10px 0;
        margin-top: 20px;

        p {
          font-weight: 400;
          font-size: 14px;
          color: #3E4A5A;
          line-height: 1.5;
          text-align: justify;
        }
      }
    }

    .each-block {
      padding: 0 20px 20px 20px;

      &:not(:last-child) {
        margin-bottom: 2em;
      }

      .block-title {
        text-transform: uppercase;
        font-weight: 600;
        color: #3E4A5A;
        letter-spacing: 3px;
        font-size: 1.2em;
        margin-bottom: 1em;
      }

      &.experience {
        .title-block {
          display: flex;
          align-items: center;

          .year {
            background: #3E4A5A;
            margin-right: 10px;
            color: #fff;
            padding: 8px 10px;

            p {
              font-size: 13px;
              text-transform: uppercase;

              &:first-child {
                padding-bottom: 5px;
              }
            }
          }



          .name {
            h3 {
              font-size: 1.1em;
              font-weight: 500;
              color: #3e495a;
              margin-bottom: 5px;
            }

            a {
              color: #4b586a;
              font-size: 0.9em;
            }
          }
        }

        .content {
          margin-top: 1em;

          h5 {
            font-size: 0.9em;
            font-weight: 400;
            line-height: 1.5;
            color: #3E4A5A;
            text-align: justify;
          }

          .job-title {
            margin-bottom: 0.5em;
            color: #3e495a;
            font-weight: 500;
          }

          ul {
            margin-top: 20px;

            li {
              display: grid;
              grid-template-columns: 15px auto;
              column-gap: 10px;

              &:not(:last-child) {
                margin-bottom: 7px;
              }

              img {
                max-width: 100%;
                margin-bottom: -2px;
              }

              p {
                color: #3E4A5A;
                font-weight: 400;
                line-height: 1.5;
                font-size: 0.9em;
                text-align: justify;
              }
            }
          }
        }
      }

      &.projects {
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            &:not(:last-child) {
              margin-right: 10px;
            }

            margin: 5px 0;

            a {
              background: #3e495a2e;
              text-decoration: none;
              padding: 5px 10px;
              display: inline-block;
              font-size: 0.9em;
              color: #3e495a;
              border-radius: 30px;
            }

          }
        }

        .note {
          margin-top: 1em;

          a {
            display: inline-block;
            margin-top: 10px;
            text-decoration: none;
            color: #3e495a;

            span {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}


.primary-left {
  height: calc(100% - 130px);
  width: 230px;
  background: #3E4A5A;

  .primary-details {
    margin-left: 1.5em;
    margin-bottom: 1em;

    .profile-image {
      overflow: hidden;

      img {
        max-width: 100%;
        width: 200px;
        padding: 15px;
      }
    }
  }

  .each-block {
    padding-left: 1.5em;
    color: #fff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .block-title {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 3px;
      margin-bottom: 20px;
      font-size: 1.1em;
      line-height: 25px;
    }

    &.contact-info {
      ul {
        li {
          font-size: 14px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .icon {
            background: #4a597054;
            display: inline-block;
            margin-bottom: 12px;
            padding: 3px 12px;
            border-radius: 30px;
            font-size: 12px;
            letter-spacing: 0.3px;
            color: #A39165;
          }

          a {
            color: #fff;
            text-decoration: none;
            display: block;
            font-weight: 400;
            letter-spacing: 0;
          }

          address {
            font-style: normal;
          }
        }
      }
    }

    .list-items-with-arrow {
      li {
        display: flex;


        &:not(:last-child) {
          margin-bottom: 10px;
        }

        p {
          font-size: 15px;
          letter-spacing: 0.3px;
        }

        img {
          width: 15px;
          margin-right: 5px;
          margin-bottom: -1px;
        }
      }
    }

    &.skills-info {
      h3 {
        font-size: 0.95em;
        font-weight: 400;
        color: #f2f2f2;
      }

      .skills-bar-container {
        &>li {
          &:not(:last-child) {
            margin-bottom: 1.5em;
          }
        }
      }

      .dots {
        display: flex;
        align-items: center;
        margin-top: 10px;

        li {
          &:not(:last-child) {
            margin-right: 10px;
          }

          width: 10px !important;
          height: 10px;
          border-radius: 50%;
          background:#4b586a;
          display: block;

          &.dot-fill {
            background: #a8c5f3;
          }
        }
      }
    }

    &.industry-skills {
      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 5px 0;

          &:not(:last-child) {
            margin-right: 5px;
          }

          p {
            color: #fff;
            background: #556172;
            padding: 5px 10px;
            border-radius: 30px;
            font-size: 0.8em;
          }

        }
      }
    }


  }
}

.second-page {
  .header {
    height: 30px;
  }

  .primary-left {
    height: calc(100% - 60px);
  }

  .experience {
    margin-top: 1.5em;
  }
}