<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name=”robots” content=”noindex”>
  <meta name=”robots” content=”noindex,nofollow”>
  <title>Web development Tools</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- External CSS files -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/components.css">
</head>

<body id="tools-page">
  <div id="overlay">
    <div id="progstat"></div>
    <div id="progress"></div>
  </div>
  <div class="page-heading">
    <h3>Web Development Tools</h3>
  </div>

  <section class="tools" id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="search-filters">
            <ul>
              <li>
                <div class="overall-search-filter">
                  <input class="submitEnter search-box" v-model='searchString' maxlength="128"
                    placeholder="Search for web tools, element.." type="text" name="name" id="name" class="">
                  <label for="search-box" class="search-box-label"><span class="search-icon">
                      <img class="img-fluid" src="img/icons/search.svg" alt="">
                    </span></label>
                </div>

              </li>
              <li>
                <div class="overall-dropdown-filter">
                  <span class="dropdown-el">
                    <input type="radio" name="sortType" value="Relevance" checked="checked" id="sort-relevance"><label
                      for="sort-relevance">Relevance</label>
                    <input type="radio" name="sortType" value="Popularity" id="sort-best"><label for="sort-best">Product
                      Popularity</label>
                    <input type="radio" name="sortType" value="PriceIncreasing" id="sort-low"><label
                      for="sort-low">Price
                      Low to High</label>
                    <input type="radio" name="sortType" value="PriceDecreasing" id="sort-high"><label
                      for="sort-high">Price High to
                      Low</label>
                    <input type="radio" name="sortType" value="ProductBrand" id="sort-brand"><label
                      for="sort-brand">Product
                      Brand</label>
                    <input type="radio" name="sortType" value="ProductName" id="sort-name"><label
                      for="sort-name">Product
                      Name</label>
                  </span>
                </div>

              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-columns">
            <div class="card" v-for="(tool, index) in filteredList" :key="index">
              <div class="each">
                <h3 class="main-title"><span>{{ index + 1}}.</span>{{tool.name}}</h3>
                <div class="list-items">
                  <ul>
                    <li v-for="(list, index) in tool.list" :key="list" class="each-list-item">
                      <p><span>{{ index + 1}}.</span>{{list.name}} <a :href="list.url" target="_blank">{{list.url}}</a>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- External JAVASCRIPT files -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/popper.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <Script src="js/aos.js"> </Script>
  <script src="js/vendors/axios.min.js"></script>
  <script src="js/vendors/vue.js"></script>
  <script src="js/tools.js"></script>
  <script src="js/app.js"></script>
  <script>
    $(".search-icon").click(function () {
      $(".search-box").toggleClass("expand");
    });

    $('.dropdown-el').click(function (e) {
      e.preventDefault();
      e.stopPropagation();
      $(this).toggleClass('expanded');
      $('#' + $(e.target).attr('for')).prop('checked', true);
    });
    $(document).click(function () {
      $('.dropdown-el').removeClass('expanded');
    });

  </script>
</body>

</html>
