#tools-page {
  background: $primary;

  .tools {
    color: #fff;
    padding: 5em 0.5em;
  }

  .page-heading {
    text-align: center;
    padding: 1em 0;
    background: #19232d;

    h3 {
      color: #fff;
      font-weight: 400;
    }
  }

  .section-heading {
    text-align: center;
    margin-bottom: 4rem;
    color: $third;
  }



  .search-filters {
    margin-bottom: 25px;

    ul {
      display: flex;
      justify-content: flex-end;

      li {
        .overall-search-filter {
          .search-box {
            transition: width 0.6s, background 0.6s;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
          }

          .search-box+label .search-icon {
            color: black;
          }

          .search-box:hover {
            color: white;
            background: #98a3ad;
          }

          .search-box:hover+label .search-icon {
            color: white;
          }

          .search-box:focus {
            border: none;
            outline: none;
            box-shadow: none;
            padding-left: 15px;
            cursor: text;
            width: 300px;
            border-radius: auto;
            background: white;
            color: black;
          }

          .search-box:focus+label .search-icon {
            color: black;
          }

          .search-box:not(:focus) {
            text-indent: -5000px;
          }


          .search-icon {
            position: relative;
            left: -35px;
            color: white;
            cursor: pointer;

            img {
              z-index: -1;
            }
          }

          .expand {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            padding-left: 15px !important;
            width: 300px !important;
            // border-radius: auto !important;
            background: white !important;
            color: black !important;
          }
        }

        .overall-dropdown-filter {
          $color: #3694d7;
          $timing: .3s;

          .dropdown-el {
            min-width: 12em;
            position: relative;
            display: inline-block;
            margin-right: 1em;
            max-height: 2em;
            overflow: hidden;
            top: .5em;
            cursor: pointer;
            text-align: left;
            white-space: nowrap;
            color: #444;

            outline: none;
            border: .06em solid transparent;
            border-radius: 1em;
            background-color: mix($color, #fff, 25%);

            transition: $timing all ease-in-out;

            input:focus+label {
              background: #def;
            }

            input {
              width: 1px;
              height: 1px;
              display: inline-block;
              position: absolute;
              opacity: 0.01;
            }

            label {
              border-top: .06em solid #d9d9d9;
              display: block;
              height: 2em;
              line-height: 2em;
              padding-left: 1em;
              padding-right: 3em;
              cursor: pointer;
              position: relative;
              transition: $timing color ease-in-out;

              &:nth-child(2) {
                margin-top: 2em;
                border-top: .06em solid #d9d9d9;
              }
            }

            input:checked+label {
              display: block;
              border-top: none;
              position: absolute;
              top: 0;
              width: 100%;

              &:nth-child(2) {
                margin-top: 0;
                position: relative;
              }
            }

            &::after {
              content: "";
              position: absolute;
              right: 0.8em;
              top: 0.9em;
              border: .3em solid $color;
              border-color: $color transparent transparent transparent;
              transition: .4s all ease-in-out;
            }

            &.expanded {
              border: .06em solid $color;
              background: #fff;
              border-radius: .25em;
              padding: 0;
              box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
              max-height: 15em;

              label {
                border-top: .06em solid #d9d9d9;

                &:hover {
                  color: $color;
                }
              }

              input:checked+label {
                color: $color;
              }

              &::after {
                transform: rotate(-180deg);
                top: .55em;
              }
            }
          }
        }


      }

      .add-tool-button {
        background: #19232d;
        border: none;
        margin-right: 25px;
        padding: 5px 20px;
        font-size: 1.1em;
        letter-spacing: 0.5px;
        box-shadow: 0 0px 2px 0 #ffffff;
      }
    }
  }

  .card-columns {
    column-count: 3;

    .card {
      background: #19232d;
      padding: 15px 10px;
      border-radius: 5px;

      &:nth-child(odd) {
        background: #072d40;
      }

      .each {

        .main-title {
          font-size: 1.3rem;
          color: #C0C9D1;

          span {
            padding-right: 5px;
          }
        }

        .list-items {
          margin-top: 10px;

          ul {
            padding-left: 10px;

            li {
              &:not(:last-child) {
                margin-bottom: 10px;
              }

              p {
                font-size: 1.1rem;
                color: #C0C9D1;

                span {
                  padding-right: 5px;
                }

                a {
                  color: $secondary;
                  padding-left: 10px;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  html {
    font-size: 15px;
  }

  #tools-page {
    .tools {
      padding: 30px 0px;
    }

    .card-columns {
      column-count: 1;
    }
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 15px;
  }

  #tools-page {
    .tools {
      padding: 30px;
    }

    .card-columns {
      column-count: 2;
    }
  }
}

.github-tools {
  h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
    color: #C0C9D1;
  }

  table {
    thead {
      tr {
        th {
          padding: 0;
        }
      }
    }

    tbody {
      tr {
        td {
          padding-bottom: 15px;
        }

      }

      a {
        color: #FEE715FF;
        padding-right: 5px;
      }
    }
  }
}

